* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */
}

.container {
  text-align: center;
  margin-top: 4rem;
}

.container-2 {
  text-align: center;
}

.movies {
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 3rem auto;
}

.movies li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movies img {
  width: 200px;
  height: 55vh;
}

ul {
  list-style: none;
}

input[type='search'] {
  width: 30%;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.details {
  margin-top: 5rem;
  padding: 0 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .details {
    max-width: 90vw;
    gap: 2rem;
    margin: 2rem 15rem;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .details-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 50px;
    justify-content: space-between;
  }

  .details img {
    width: 250px;
    height: 70vh;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
